@import "modern-normalize";

@font-face {
  font-family: norse-bold;
  src: url(../assets/fonts/Norsebold.otf);
}

@font-face {
  font-family: roboto;
  src: url(../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  font-family: roboto;
}

.header {
  width: 35vw;
  background-image: url("../assets/images/green-leaf.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30vh;
}

.logo-image {
  object-fit: contain;
  width: 5em;
}

.logo-text {
  font-family: norse-bold;
  font-size: 5em;
  color: white;
}

.credits {
  color: white;
  align-self: center;

}

.main {
  width: 65vw;
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 250, 251);
}

.hero {
  padding-bottom: 8vh;
  padding-left: 3vw;
  padding-right: 15vw;
}

.hero-text {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: roboto;
}

.form-area {
  display: flex;
  flex-direction: column;

}

.form-field {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  column-gap: 5vw;
  row-gap: 1vh;
  padding-top: 2vh;
  padding-bottom: 5vh;
  padding-left: 3vw;
  padding-right: 15vw;
  box-shadow: 0px 4px 5px 0px #D1D1D1;
}


.form-header {
  width: 100vw;
  font-size: 1.3em;
  font-weight: 700;
  color: rgb(51, 53, 54);
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 40%;


}

label {
  font-weight: bold;
  font-size: 0.8rem;
  color: rgb(51, 53, 54);
}

input {
  border: solid #E5E7EB 1px;
  border-radius: 3px;
}

.button {
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 3vw;
  padding-right: 15vw;
}

button {
  padding: 20px 50px;
  background-color: #596D48;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 0px #8E9998;
}

.sign-in {
  padding-left: 3vw;
  padding-right: 15vw;
}