@import "modern-normalize";

@font-face {
  font-family: norse-bold;
  src: url(../assets/fonts/Norsebold.otf);
}

@font-face {
  font-family: roboto;
  src: url(../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  font-family: roboto;
}

.header {
  width: 35vw;
  background-image: url("../assets/images/green-leaf.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30vh;
}

.logo-image {
  object-fit: contain;
  width: 5em;
}
.logo-text {
  font-family: norse-bold;
  font-size: 5em;
  color: white;
}

.credits {
  color: white;
  align-self: center;
  
}
.main {
  width: 65vw;
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 250, 251);
}

.hero {
  padding-bottom: 8vh;
  padding-left: 3vw;
  padding-right: 15vw;
}

.hero-text {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: roboto;
}

.form-area {
  display: flex;
  flex-direction: column;
  
}

.form-field {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  padding-left: 3vw;
  padding-right: 15vw;
}

 
.form-header {
  width: 100vw;
  font-size: 1.3em;
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 50%;
}

label input {
  width: 50vw;
}